button{
  background: transparent;
  border: none
}
.col-sm-6 ,
.col-lg-3{
    padding: 0; }

     .content {
    position: relative;
    color: #333; }

     .content .overlay2 {
    z-index: 2;
    background: rgba(255, 255, 255, 0.9);
    padding-top: 80px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

     .content p {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    transition: all .7s ease-in-out; }

     .content h3 {
    font-weight: bold;
    margin-top: 0;
    transition: all .7s ease-in-out; }

     .content .paragarph {
    height: 60px;
    overflow: hidden; }

     .content .hi3 {
    height: 30px;
    overflow: hidden; }

     .content .paragarph p {
    margin-top: 60px; }

     .content .hi3 h3 {
    margin-top: 30px; }

     .commits {
    margin-top: 40px; }

     .commits a:nth-of-type(2) {
    margin-left: 15px;
    margin-right: 15px; }

     .commits a {
    padding: 15px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 2px solid transparent;
    position: relative; }
       .commits button a{
      left:100% !important;
      top:-5px !important
    }

     .commits a img {
    position: absolute;
     top:50% ;
     left:50% ;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
     .commits a .fisrtimg{

     }
     .commits a .secondimg{
         opacity: 0
     }
     .commits a:hover .secondimg{
       opacity: 1
     }
     .commits a:hover .firstimg{
       opacity: 0
     }
     .content:hover .overlay2 {
    opacity: 1; }

   .img2 {
    opacity: 0; }
 .img1 ,
 .img2{
  top: 15px;
  left: 35%;;
}
     .content:hover .hi3 h3,
     .content:hover .paragarph p {
    margin-top: 0; }

   a:hover .img1 {
    opacity: 0; }

 a:hover .img2 {
    opacity: 1; }

     .commits a:hover {
    border: 2px solid #FE5A1A; }

     .commits a:first-of-type:hover {
    border: 2px solid #1CC373; }

     .row div:nth-of-type(4) .content .paragarph,
     .row div:nth-of-type(5) .content .paragarph {
    height: 30px; }

  /*Modal Bootstrap*/
  .firstLink,
  .secondLink {
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px
  }
 .firstLink {
    background: #FE5A1A;
    border: 2px solid #FE5A1A;
    position: relative;
   }
  .firstLink > a img{
     position: absolute;

   }
   .secondLink {
    background: #1CC373;
    border: 2px solid #1CC373; }

   .firstLink:hover,
  .secondLink:hover {
    background: transparent; }

    .firstLink:hover:hover a {
    color: #FE5A1A;
    border-radius: 0;
    border: none; }

    .secondLink:hover a {
    color: #1CC373;
    border-radius: 0;
    border: none; }

  .modal a {
    font-weight: bold; }

  .modal .firstlink > a img {
    -webkit-transform: translate(75%, -25%) !important;
    -moz-transform: translate(75%, -25%) !important;
    -o-transform: translate(75%, -25%) !important;
    transform: translate(75%, -25%) !important; }

  .modal .firstlink > a:hover img:last-of-type {
    -webkit-transform: translate(-50%, -25%) !important;
    -moz-transform: translate(-50%, -25%) !important;
    -o-transform: translate(-50%, -25%) !important;
    transform: translate(-50%, -25%) !important; }

    .btn{
      background: none !important;
      border: none !important
    }
    .btn:hover{
      background: none !important;
      border: none !important
    }
    .btn:not(:disabled):not(.disabled){
      background: none !important;
      border: none !important
    }
