.table thead th {
    border-bottom: 1px solid #dee2e6 !important; }
  
  .table tbody tr th, .table tbody tr td {
    border-top: none !important; }
  
  .table tbody {
    border-bottom: 1px solid #dee2e6; }
  
  .table thead {
    color: #333;
    font-size: 14px; }
  
  .table tbody tr td:last-of-type,
  .table tbody tr td:nth-of-type(1) {
    font-size: 20px !important;
    color: #333 !important;
    font-weight: bold;
    padding-top: 40px; }
  
  .table tbody tr th img {
    margin-left: 15px;
    margin-right: 15px; }
  
  .table tbody tr th p {
    color: #333;
    font-size: 14px;
    padding-right: 20px; }
  
  .table tbody tr th p,
  .table tbody tr th a {
    display: block;
    margin-top: 30px;
  line-height: 20px }
  
  .table tbody tr th a {
    color: #b7b7b7; }
    .table tbody tr td:nth-of-type(2),
    .table tbody tr td:nth-of-type(4){
      padding-top: 30px
    }
  
  .table-responsive {
    display: inline-table !important; }
  
    @media (max-width: 575px) {
        .table-responsive {
          display: block !important; }
        .table tbody tr th img {
          width: 100px;
          height: 150px;
          margin-left: 5px;
          margin-bottom: 5px; }
        .table tbody tr td:last-of-type,
        .table tbody tr td:nth-of-type(1) {
          font-size: 16px !important; }
        .table tbody tr th p {
          font-size: 12px !important; } }  