

html {
      scroll-behavior: smooth;
    }


body {
    position: relative;
    /* overflow: hidden;  */
  }
  
  .topfixed,
  .arrowfixed {
    position: fixed;
    bottom: 0;
    left: 50%;
    cursor: pointer;
    z-index: 99999;
    font-size: 20pt;
    color: #fe5a1a;
    opacity: 0

  }

    .showarrow{
      opacity: 1
    }



    .scrolltop{

    }